* { margin: 0; padding: 0; color: black; font-size: 14px; }
a { text-decoration: none; color: white; }
li { list-style: none; }
html, body {width: 100%;}
img { border: none; }
button, input { border: none;  outline: none;}
form { display: block; }
.clear {clear: both;}

.search { position: absolute; height: 30px; line-height: 30px; top: 30vw; right: 10vw; background: white; }
.search button{ line-height:  30px; width: 40px; cursor: pointer; }
.header-img { width: 100vw; height: 40vw; }
.items { display: flex; flex-direction: row; justify-content: center;}
.items .item{ float: left; width: 15vw; text-align: center; height: 40px; line-height: 40px; background: orange; margin: 1vw; border-radius: 5px; cursor: pointer; }
.items .item:hover a { color: grey; }

.main {  max-height: 140vh; overflow-y: hidden; position: relative; }
.display-images { float: left; width: 30vw; margin: 10px 1vw; }
.display-images .hot-img {  width: 100%; }
.display-images .bz p { padding: 0 10px;}
.main .shelter { float: left; position: absolute; bottom: 0px; height: 20vh; width: 100%; line-height: 20vh;
 background: -webkit-linear-gradient( rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0.25), rgba(255,255,255,0.3), rgba(255,255,255,0.6)); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient( rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0.25), rgba(255,255,255,0.3), rgba(255,255,255,0.6)); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient( rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0.25), rgba(255,255,255,0.3), rgba(255,255,255,0.6)); /* Firefox 3.6 - 15 */
  background: linear-gradient( rgba(255,255,255,0), rgba(255,255,255,0.2), rgba(255,255,255,0.25), rgba(255,255,255,0.3), rgba(255,255,255,0.6)); /* 标准的语法 */
 
  }
 .main .shelter a {  color: black; font-size: 20px; }
 
 
 .footer { height: 10vh; padding: 10px 0px;  }